In [36]:
# Change Date string to int for use in regression model

import numpy as np
import pandas as pd

In [37]:
df_train = pd.read_csv("Pick3_2010-2019_Train_Data.csv",)
df_test = pd.read_csv("Pick3_2020_Test_Data.csv")
train = df_train
test = df_test

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6609 entries, 0 to 6608
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    6609 non-null   int64
 1   Date    6609 non-null   object
 2   Pick3   6609 non-null   int64
dtypes: int64(2), object(1)
memory usage: 155.0+ KB

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     object
 2   Pick3   84 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.1+ KB

In [40]:
# Doesn't persist
test['Date'].str.replace("-","").astype(int)
train['Date'].str.replace("-","").astype(int)

0       20190101
1       20190101
2       20190102
3       20190102
4       20190103
          ...
6604    20100117
6605    20100117
6606    20100118
6607    20100118
6608    20100119
Name: Date, Length: 6609, dtype: int64

In [41]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     object
 2   Pick3   84 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.1+ KB

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6609 entries, 0 to 6608
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    6609 non-null   int64
 1   Date    6609 non-null   object
 2   Pick3   6609 non-null   int64
dtypes: int64(2), object(1)
memory usage: 155.0+ KB

In [43]:
test.head()

   Draw        Date  Pick3
0     0  2020-01-01    342
1     1  2020-01-01    933
2     0  2020-01-02    537
3     1  2020-01-02    357
4     0  2020-01-03    346

In [33]:
# Stop here, Do date string before here
train['Date'] = pd.to_datetime(train.Date)
test['Date'] = pd.to_datetime(test.Date)

In [44]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6609 entries, 0 to 6608
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    6609 non-null   int64
 1   Date    6609 non-null   object
 2   Pick3   6609 non-null   int64
dtypes: int64(2), object(1)
memory usage: 155.0+ KB

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     datetime64[ns]
 2   Pick3   84 non-null     int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 2.1 KB

In [46]:
# train['Date'].dt.strftime("%Y%m%d").astype(int)

AttributeError: 'Series' object has no attribute 'strftime'

In [24]:
# test['Date'].dt.strftime("%Y%m%d").astype(int)

In [25]:
train.head()

0    20190101
1    20190101
2    20190102
3    20190102
4    20190103
Name: Date, dtype: int64

In [47]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     object
 2   Pick3   84 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.1+ KB

In [48]:
export_csv = train.to_csv (r'Pick3_Train_Final.csv', index = None, header=True)
export_csv = test.to_csv (r'Pick3_Test_Final.csv', index = None, header=True)