In [129]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [104]:
# County Data with fips county data for geolocation
url = 'OhioPick3_12-19_dataset_3-28-20.csv'
df = pd.read_csv(url)
print(df.head())

   Draw        Date  Pick3  Pick4   Date_Time  Date_Str  Date_Delta  Pick3str  \
0     0  2012-01-01    991    979  2012-01-01  20120101         0.0       991
1     1  2012-01-01    441   7036  2012-01-01  20120101         0.0       441
2     0  2012-01-02    516   1507  2012-01-02  20120102         1.0       516
3     1  2012-01-02    629    452  2012-01-02  20120102         1.0       629
4     0  2012-01-03    188   1857  2012-01-03  20120103         2.0       188

   Pick4str  P3B1  P3B2  P3B3  P4B1  P4B2  P4B3  P4B4
0       979     9     9     1     0     9     7     9
1      7036     4     4     1     7     0     3     6
2      1507     5     1     6     1     5     0     7
3       452     6     2     9     0     4     5     2
4      1857     1     8     8     1     8     5     7

In [105]:
df = df.loc[:,['Draw','Date','Pick3','P3B1','P3B2','P3B3']]
FMT = '%Y-%m-%d'
df['Dates'] = df['Date']
date = df['Date']
# df['Dates'] = df['Date']
df['Date'] = date.map(lambda x : (datetime.strptime(x, FMT) - datetime.strptime("2012-01-01", FMT)).days  )

In [106]:
df

      Draw  Date  Pick3  P3B1  P3B2  P3B3       Dates
0        0     0    991     9     9     1  2012-01-01
1        1     0    441     4     4     1  2012-01-01
2        0     1    516     5     1     6  2012-01-02
3        1     1    629     6     2     9  2012-01-02
4        0     2    188     1     8     8  2012-01-03
...    ...   ...    ...   ...   ...   ...         ...
5837     1  2919    219     2     1     9  2019-12-29
5838     0  2920    354     3     5     4  2019-12-30
5839     1  2920    655     6     5     5  2019-12-30
5840     0  2921    699     6     9     9  2019-12-31
5841     1  2921    257     2     5     7  2019-12-31

[5842 rows x 7 columns]

In [133]:
features = ['Draw','Date'] 
target = ['Pick3','P3B1','P3B2','P3B3']

# Fit model
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(criterion='mae') # {“mse”, “friedman_mse”, “mae”}, default=”mse”
model.fit(df[features],df[target])
print(model.predict([[1,2925]]))# Next Drawing

[[257.   2.   5.   7.]]

In [108]:
print('Pick 3 ball one')
# print(df.P3B1.value_counts())
print(df.P3B1.value_counts().idxmax())
print('Pick 3 ball two')
# print(df.P3B2.value_counts())
print(df.P3B2.value_counts().idxmax())
print('Pick 3 ball three')
# print(df.P3B3.value_counts())
print(df.P3B3.value_counts().idxmax())
print("Most picked Pick 3 number")
print(df.Pick3.value_counts().idxmax())

Pick 3 ball one
2
Pick 3 ball two
2
Pick 3 ball three
5
Most picked Pick 3 number
125

In [30]:
tmp = []
for i in df.Pick3:
    tmp.append(i)

In [41]:
tmp2 = []
for j in tmp:
    if j == 25:
        tmp2.append(j)
#         print("yes")
    else:
        pass

print(len(tmp2))

7

In [46]:
tmp3 = []
for k in df.P3B1:
    if k == 2:
        tmp3.append(k)
    else:
        pass
    
print(len(tmp3))

625

In [134]:
X_train, X_test, y_train, y_test = train_test_split(df, df, test_size=0.5, random_state=2)

In [135]:
# from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(X_train['Pick3'], y_test['Pick3']))
print(mean_absolute_error(y_train['Pick3'], X_test['Pick3']))

333.3420061622732
333.3420061622732

In [171]:
features = ['Draw','Date'] 
target = ['Draw','Pick3','P3B1','P3B2','P3B3']

from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=int(1))
model.fit(df[features], df[target])
print(model.predict([[1,2920]]))

[[  1. 655.   6.   5.   5.]]

In [154]:
df

      Draw  Date  Pick3  P3B1  P3B2  P3B3       Dates
0        0     0    991     9     9     1  2012-01-01
1        1     0    441     4     4     1  2012-01-01
2        0     1    516     5     1     6  2012-01-02
3        1     1    629     6     2     9  2012-01-02
4        0     2    188     1     8     8  2012-01-03
...    ...   ...    ...   ...   ...   ...         ...
5837     1  2919    219     2     1     9  2019-12-29
5838     0  2920    354     3     5     4  2019-12-30
5839     1  2920    655     6     5     5  2019-12-30
5840     0  2921    699     6     9     9  2019-12-31
5841     1  2921    257     2     5     7  2019-12-31

[5842 rows x 7 columns]