In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install tabula-py

In [1]:
# Only works for 2010pdf!
import tabula
import numpy as np
import pandas as pd

In [58]:
# Path to the PDF to be read in
inPDF_Path = "../LottoData/UnprocessedData/PDFs/Cleaned_Stage_1/numbers2010_Cleaned.pdf"
# 1989 False 1990 False 1991 False 1992 False 1993 False 1994 False 1995 False 1996 False
# 1997 False 1998 False 1999 False 2000 Reads but incorrect 2001 Same 2002 Same 2003 almost useable
# 2004 Garbage 2005 Garbage 2006 Garbage 2007 Fantastic 2008 Garbage 2009 Garbage 2010

In [60]:
# Reading the PDF into a list
pdf = tabula.read_pdf(inPDF_Path, encoding='utf-8', pages='all', stream=True)[0]
# Converting list to dataframe
df = pd.DataFrame(pdf)
df

,Day,Date,Pick3,Pick4,Classic Lotto,Rolling Cash5,Mega Millions,Kicker,Power Ball,Ten OH
0,FriMid,01/01/2010,391,2227,NaN,NaN,NaN,NaN,NaN,04 21 23 24 25 31 33 37 41 42 44 45 48 58 60 6...
1,FriEve,01/01/2010,808,175,NaN,"04 13 26 34 38$100,000",06 08 27 40 41 +21$27.0 M/0,418412.0,NaN,02 05 09 13 20 23 25 35 41 45 50 56 57 58 60 6...
2,SatMid,01/02/2010,989,5164,NaN,NaN,NaN,NaN,NaN,09 11 12 13 14 20 21 22 25 37 39 40 41 47 52 5...
3,SatEve,01/02/2010,137,9911,01 07 25 28 39 40 $10.5 M/1,"08 14 19 23 27 $100,000",NaN,NaN,NaN,14 17 20 23 29 31 32 34 42 44 47 48 50 51 53 6...
4,SunMid,01/03/2010,284,3159,NaN,NaN,NaN,NaN,NaN,03 06 07 11 16 18 19 21 26 31 32 45 47 53 55 5...
5,SunEve,01/03/2010,290,7077,NaN,"04 10 12 17 35$110,000",NaN,NaN,NaN,01 02 09 11 14 19 24 26 29 32 34 36 38 45 53 5...
6,MonMid,01/04/2010,942,8206,NaN,NaN,NaN,NaN,NaN,04 13 14 19 20 21 29 33 34 35 36 52 53 58 59 6...
7,MonEve,01/04/2010,809,9631,06 08 28 31 45 46 $1.0 M/0,"14 15 16 19 32$120,000",NaN,NaN,NaN,04 06 07 08 17 18 25 33 34 35 38 39 43 44 47 4...
8,TueMid,01/05/2010,278,7443,NaN,NaN,NaN,NaN,NaN,04 10 13 14 15 19 20 21 23 24 37 38 49 56 60 6...
9,TueEve,01/05/2010,755,1640,NaN,"04 07 16 23 32$130,000",13 28 39 50 55 +10$37.0 M/0,333712.0,NaN,06 11 19 25 29 31 36 38 44 45 46 50 52 53 55 5...
10,WedMid,01/06/2010,550,7863,NaN,NaN,NaN,NaN,NaN,11 19 22 23 27 28 33 40 46 47 49 50 62 63 68 7...
11,WedEve,01/06/2010,226,6927,08 13 25 31 39 44 $1.1 M/0,"11 16 24 33 39 $140,000",NaN,NaN,NaN,01 04 06 10 11 12 18 21 22 28 33 34 48 56 59 6...
12,ThuMid,01/07/2010,208,1985,NaN,NaN,NaN,NaN,NaN,01 02 14 16 22 26 32 38 39 40 41 42 44 49 53 5...
13,ThuEve,01/07/2010,456,4240,NaN,"04 22 24 35 37$174,000",NaN,NaN,NaN,01 09 18 21 39 45 46 48 53 54 59 63 64 65 70 7...
14,FriMid,01/08/2010,548,1095,NaN,NaN,NaN,NaN,NaN,01 02 12 15 22 24 26 28 30 33 39 42 46 52 54 5...
15,FriEve,01/08/2010,295,4495,NaN,"04 07 25 28 31$100,000",18 20 31 36 43 +33$48.0 M/0,393933.0,NaN,01 05 09 13 14 15 19 20 23 25 26 30 42 44 46 5...
16,SatMid,01/09/2010,948,4143,NaN,NaN,NaN,NaN,NaN,04 05 06 09 10 14 15 16 18 19 22 23 25 34 36 3...
17,SatEve,01/09/2010,874,917,07 09 11 12 17 33 $1.2 M/0,"05 15 20 32 36 $100,000",NaN,NaN,NaN,14 17 18 20 21 30 35 38 40 42 54 57 62 63 64 6...
18,SunMid,01/10/2010,654,9178,NaN,NaN,NaN,NaN,NaN,06 11 12 13 14 18 19 20 23 24 25 29 39 46 47 5...
19,SunEve,01/10/2010,976,4202,NaN,"05 20 21 36 38$110,000",NaN,NaN,NaN,06 07 11 12 14 26 28 30 31 35 37 53 59 60 66 6...
20,MonMid,01/11/2010,379,8843,NaN,NaN,NaN,NaN,NaN,03 04 05 07 08 09 13 23 24 26 27 31 32 42 44 4...
21,MonEve,01/11/2010,853,2722,13 19 24 28 42 43 $1.3 M/0,"03 07 22 28 32$120,000",NaN,NaN,NaN,05 07 15 17 18 23 29 30 31 33 42 47 52 62 63 6...
22,TueMid,01/12/2010,384,3527,NaN,NaN,NaN,NaN,NaN,01 02 06 08 13 14 17 22 23 27 29 33 41 42 45 5...
23,TueEve,01/12/2010,557,5900,NaN,"04 12 15 33 36$130,000",05 09 31 37 56 +16$60.0 M/0,230157.0,NaN,06 07 10 15 18 19 22 24 25 28 42 44 46 50 53 5...
24,WedMid,01/13/2010,686,1268,NaN,NaN,NaN,NaN,NaN,04 15 17 20 24 33 38 39 42 44 46 54 59 62 63 7...
25,WedEve,01/13/2010,853,8817,10 12 34 37 41 42 $1.4 M/0,"09 15 26 27 36 $156,000",NaN,NaN,NaN,01 05 11 15 16 17 18 21 22 23 25 29 31 32 41 5...
26,ThuMid,01/14/2010,824,9979,NaN,NaN,NaN,NaN,NaN,05 06 12 21 25 29 33 37 39 42 44 45 46 48 49 5...
27,ThuEve,01/14/2010,646,4702,NaN,"05 14 28 29 37$203,000",NaN,NaN,NaN,02 12 15 17 18 29 38 52 53 55 57 58 62 63 67 6...
28,FriMid,01/15/2010,305,2328,NaN,NaN,NaN,NaN,NaN,03 06 11 19 26 28 30 31 37 39 43 44 50 51 54 6...
29,FriEve,01/15/2010,48,8524,NaN,"21 27 30 34 35$100,000",04 07 19 21 38 +29$73.0 M/0,283921.0,NaN,10 11 16 17 19 20 28 33 36 39 45 46 54 55 57 7...
30,SatMid,01/16/2010,436,5707,NaN,NaN,NaN,NaN,NaN,03 09 13 14 20 24 27 28 30 32 38 45 49 62 63 6...
31,SatEve,01/16/2010,225,3505,16 18 30 32 37 48 $1.5 M/0,"01 04 07 13 29 $110,000",NaN,NaN,NaN,05 10 12 20 22 25 27 30 34 38 40 43 47 57 62 6...
32,SunMid,01/17/2010,500,6599,NaN,NaN,NaN,NaN,NaN,02 03 06 10 14 16 18 24 31 37 40 45 57 58 67 6...
33,SunEve,01/17/2010,47,704,NaN,"13 14 17 18 21$100,000",NaN,NaN,NaN,13 15 21 25 26 29 30 31 32 36 38 40 42 45 50 5...
34,MonMid,01/18/2010,42,1476,NaN,NaN,NaN,NaN,NaN,01 12 13 17 28 29 36 41 48 49 50 53 54 56 58 6...
35,MonEve,01/18/2010,809,2361,03 11 20 25 35 45 $1.6 M/0,"04 14 15 36 38$110,000",NaN,NaN,NaN,03 04 13 14 16 27 36 37 40 41 44 47 52 55 57 6...
36,TueMid,01/19/2010,770,3080,NaN,NaN,NaN,NaN,NaN,01 02 06 12 25 30 33 35 38 48 50 53 59 64 68 6...

In [61]:
# Rename and drop uneeded columns for individual dataframes
df.columns = ['Draw','Date','Pick3','Pick4','Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH']
df.drop(['Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH'], axis=1, inplace=True)
df

      Draw        Date  Pick3  Pick4
0   FriMid  01/01/2010    391   2227
1   FriEve  01/01/2010    808    175
2   SatMid  01/02/2010    989   5164
3   SatEve  01/02/2010    137   9911
4   SunMid  01/03/2010    284   3159
5   SunEve  01/03/2010    290   7077
6   MonMid  01/04/2010    942   8206
7   MonEve  01/04/2010    809   9631
8   TueMid  01/05/2010    278   7443
9   TueEve  01/05/2010    755   1640
10  WedMid  01/06/2010    550   7863
11  WedEve  01/06/2010    226   6927
12  ThuMid  01/07/2010    208   1985
13  ThuEve  01/07/2010    456   4240
14  FriMid  01/08/2010    548   1095
15  FriEve  01/08/2010    295   4495
16  SatMid  01/09/2010    948   4143
17  SatEve  01/09/2010    874    917
18  SunMid  01/10/2010    654   9178
19  SunEve  01/10/2010    976   4202
20  MonMid  01/11/2010    379   8843
21  MonEve  01/11/2010    853   2722
22  TueMid  01/12/2010    384   3527
23  TueEve  01/12/2010    557   5900
24  WedMid  01/13/2010    686   1268
25  WedEve  01/13/2010    853   8817
26  ThuMid  01/14/2010    824   9979
27  ThuEve  01/14/2010    646   4702
28  FriMid  01/15/2010    305   2328
29  FriEve  01/15/2010     48   8524
30  SatMid  01/16/2010    436   5707
31  SatEve  01/16/2010    225   3505
32  SunMid  01/17/2010    500   6599
33  SunEve  01/17/2010     47    704
34  MonMid  01/18/2010     42   1476
35  MonEve  01/18/2010    809   2361
36  TueMid  01/19/2010    770   3080

In [62]:
# Converting the Date column into something useable
df['Date'] = pd.to_datetime(df.Date)
df

      Draw       Date  Pick3  Pick4
0   FriMid 2010-01-01    391   2227
1   FriEve 2010-01-01    808    175
2   SatMid 2010-01-02    989   5164
3   SatEve 2010-01-02    137   9911
4   SunMid 2010-01-03    284   3159
5   SunEve 2010-01-03    290   7077
6   MonMid 2010-01-04    942   8206
7   MonEve 2010-01-04    809   9631
8   TueMid 2010-01-05    278   7443
9   TueEve 2010-01-05    755   1640
10  WedMid 2010-01-06    550   7863
11  WedEve 2010-01-06    226   6927
12  ThuMid 2010-01-07    208   1985
13  ThuEve 2010-01-07    456   4240
14  FriMid 2010-01-08    548   1095
15  FriEve 2010-01-08    295   4495
16  SatMid 2010-01-09    948   4143
17  SatEve 2010-01-09    874    917
18  SunMid 2010-01-10    654   9178
19  SunEve 2010-01-10    976   4202
20  MonMid 2010-01-11    379   8843
21  MonEve 2010-01-11    853   2722
22  TueMid 2010-01-12    384   3527
23  TueEve 2010-01-12    557   5900
24  WedMid 2010-01-13    686   1268
25  WedEve 2010-01-13    853   8817
26  ThuMid 2010-01-14    824   9979
27  ThuEve 2010-01-14    646   4702
28  FriMid 2010-01-15    305   2328
29  FriEve 2010-01-15     48   8524
30  SatMid 2010-01-16    436   5707
31  SatEve 2010-01-16    225   3505
32  SunMid 2010-01-17    500   6599
33  SunEve 2010-01-17     47    704
34  MonMid 2010-01-18     42   1476
35  MonEve 2010-01-18    809   2361
36  TueMid 2010-01-19    770   3080

In [63]:
# Export our now cleaned data to csv for later processing into a larger dataset
export_csv = df.to_csv (r'../LottoData/ProcessedData/Final_Data/NewDataset_2010-2019_p3_p4/2010.csv', index = None, header=True)