In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install tabula-py

In [9]:
import tabula
import numpy as np
import pandas as pd

In [14]:
# Path to the PDF to be read in
inPDF_Path = "../LottoData/UnprocessedData/PDFs/numbers2006.pdf"

In [15]:
# Reading the PDF into a list
pdf = tabula.read_pdf(inPDF_Path, encoding='utf-8', pages='all', stream=False)[0]
# Converting list to dataframe
df = pd.DataFrame(pdf) 
df.head()
# Looks like pdfs below 2010 are going to be harder to use

Got stderr: Feb 13, 2020 8:24:00 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Feb 13, 2020 8:24:00 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Feb 13, 2020 8:24:01 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Feb 13, 2020 8:24:01 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Feb 13, 2020 8:24:02 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class
Feb 13, 2020 8:24:02 PM org.apache.pdfbox.pdmodel.graphics.color.PDICCBased ensureDisplayProfile
WARNING: ICC profile is Perceptual, ignoring, treating as Display class

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Ohio Lottery Commission • An Equal Opportunity Employer
0,NaN,WINNING NUMBERS - 1/1/2006 TO 12/31/2006,NaN,"Bob Taft, Governor • Tom Hayes, Director"
1,NaN,NaN,NaN,Winning Tickets are Valid for 180 Days • Pleas...
2,NaN,Pick Pick Jackpot/,Pick,Pick Jackpot/
3,Draw,3 4 Lot ‘O Play # of winners Kicker Rolling Ca...,3,4 Lot ‘O Play # of winners Kicker Rolling Cash 5
4,Mega Millions1/2,2/14 922 4010,543,6574

In [9]:
# Rename and drop uneeded columns for individual dataframes
df.columns = ['Day_Draw','Date','Pick3','Pick4','Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH']
df.drop(['Pick4','Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH'], axis=1, inplace=True)
# Converting the Date column into something useable
df['Date'] = pd.to_datetime(df.Date)

ValueError: Length mismatch: Expected axis has 5 elements, new values have 10 elements

In [5]:
# Damn, I'm getting good at this
df.head()

  Day_Draw       Date  Pick3
0   FriMid 2010-01-01    391
1   FriEve 2010-01-01    808
2   SatMid 2010-01-02    989
3   SatEve 2010-01-02    137
4   SunMid 2010-01-03    284

In [6]:
# Export our now cleaned data to csv for later processing into a larger dataset
export_csv = df.to_csv (r'../LottoData/ProcessedData/Processed_CSV/numbers2010.csv', index = None, header=True)