In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 15]
from sklearn.model_selection import train_test_split

In [2]:
df_train = pd.read_csv("../LottoData/ProcessedData/Final_Data/Pick3_Train_Final.csv",)
df_test = pd.read_csv("../LottoData/ProcessedData/Final_Data/Pick3_Test_Final.csv")
train = df_train
test = df_test

In [3]:
train

      Draw      Date  Pick3
0        0  20190101    444
1        1  20190101    485
2        0  20190102    103
3        1  20190102    485
4        0  20190103    309
...    ...       ...    ...
6604     0  20100117    500
6605     1  20100117     47
6606     0  20100118     42
6607     1  20100118    809
6608     0  20100119    770

[6609 rows x 3 columns]

In [4]:
test

    Draw      Date  Pick3
0      0  20200101    342
1      1  20200101    933
2      0  20200102    537
3      1  20200102    357
4      0  20200103    346
..   ...       ...    ...
79     1  20200209    346
80     0  20200210    893
81     1  20200210    562
82     0  20200211    262
83     1  20200211    472

[84 rows x 3 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(train, train, test_size=0.2, random_state=1)

In [10]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

      Draw      Date  Pick3
2907     1  20161224    324
958      0  20180425    312
1909     1  20170813    567
1784     0  20170612    501
4608     1  20130424    737
...    ...       ...    ...
905      1  20180329    670
5192     1  20120210    720
3980     1  20140614    399
235      1  20190428    813
5157     0  20120124    576

[5287 rows x 3 columns]
      Draw      Date  Pick3
3317     1  20150717    205
4222     1  20141013    163
961      1  20180426    318
4515     0  20130309    526
3467     1  20150930    472
...    ...       ...    ...
3607     1  20151209    151
5021     0  20131117    766
1740     0  20170521    378
6050     0  20110415     91
4974     1  20131024    409

[1322 rows x 3 columns]
      Draw      Date  Pick3
2907     1  20161224    324
958      0  20180425    312
1909     1  20170813    567
1784     0  20170612    501
4608     1  20130424    737
...    ...       ...    ...
905      1  20180329    670
5192     1  20120210    720
3980     1  20140614    399
235      1  20190428    813
5157     0  20120124    576

[5287 rows x 3 columns]
      Draw      Date  Pick3
3317     1  20150717    205
4222     1  20141013    163
961      1  20180426    318
4515     0  20130309    526
3467     1  20150930    472
...    ...       ...    ...
3607     1  20151209    151
5021     0  20131117    766
1740     0  20170521    378
6050     0  20110415     91
4974     1  20131024    409

[1322 rows x 3 columns]

In [8]:
df_train.describe()

              Draw          Date        Pick3
count  6609.000000  6.609000e+03  6609.000000
mean      0.499773  2.015039e+07   493.497201
std       0.500038  2.602576e+04   286.003816
min       0.000000  2.010010e+07     0.000000
25%       0.000000  2.013032e+07   247.000000
50%       0.000000  2.015062e+07   492.000000
75%       1.000000  2.017093e+07   736.000000
max       1.000000  2.019123e+07   999.000000

In [6]:
df_test.describe()

            Draw          Date       Pick3
count  84.000000  8.400000e+01   84.000000
mean    0.500000  2.020014e+07  487.892857
std     0.503003  4.058437e+01  301.929379
min     0.000000  2.020010e+07   19.000000
25%     0.000000  2.020011e+07  200.250000
50%     0.500000  2.020012e+07  531.500000
75%     1.000000  2.020020e+07  742.250000
max     1.000000  2.020021e+07  989.000000

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6609 entries, 0 to 6608
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    6609 non-null   int64
 1   Date    6609 non-null   int64
 2   Pick3   6609 non-null   int64
dtypes: int64(3)
memory usage: 155.0 KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     int64
 2   Pick3   84 non-null     int64
dtypes: int64(3)
memory usage: 2.1 KB

In [9]:
# train['Pick3'].plot(kind='hist', title='Pick3 Distribution', bins=100)
# plt.show()

In [10]:
# plt.rcParams['figure.figsize'] = [15, 15]
# train.plot.scatter(x='Pick3', y='Date');

In [11]:
# train.Pick3.hist(bins=1000);

In [12]:
# train.corr().abs()

In [13]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install sklearn

In [11]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

In [93]:
# Not Accurate
features = ['Date','Draw']
target = 'Pick3'

from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=int(1))
model.fit(train[features], train[target])
print(model.predict([[20200101,0]]))
print(model.predict([[20200101,1]]))
print(model.predict([[20200102,0]]))

[699.]
[257.]
[699.]

In [95]:
# Not Accurate
features = ['Date','Draw']
target = 'Pick3'

# Fit model
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(criterion='mae')
model.fit(train[features], train[target])
print(model.predict([[20200101,0]]))
print(model.predict([[20200101,1]]))
print(model.predict([[20200102,0]]))

[699.]
[257.]
[699.]

In [96]:
# Calculate mean absolute error on the training data
y_true = train[target]
y_pred = model.predict(train[features])
train_error = mean_absolute_error(y_true, y_pred)

# Calculate mean absolute error on the test data
y_true = test[target]
y_pred = model.predict(test[features])
test_error = mean_absolute_error(y_true, y_pred)

# Display the errors
print('Train Error: $', round(train_error))
print('Test Error: $', round(test_error))

Train Error: $ 114.0
Test Error: $ 306.0

In [94]:
# Not Accurate
features = ['Date','Draw']
target = 'Pick3'

# Fit model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
model = LinearRegression(fit_intercept=True, normalize=True, copy_X=True, n_jobs=7)
model.fit(train[features], train[target])
print(model.predict([[20200101,0]]))
print(model.predict([[20200101,1]]))
print(model.predict([[20200102,0]]))

[482.27464358]
[483.73160025]
[482.27443249]

In [87]:
# In summary...
model.coef_,model.intercept_
# I need:
# 1. More data
# 2. More features
# 3. Better models

(array([-2.11087467e-04,  1.45695667e+00]), 4746.2627909205485)