In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install tabula-py

In [4]:
# Only works for 2010pdf!
import tabula
import numpy as np
import pandas as pd

In [5]:
# Path to the PDF to be read in
inPDF_Path = "../LottoData/UnprocessedData/PDFs/numbers2010.pdf"

In [7]:
# Reading the PDF into a list
pdf = tabula.read_pdf(inPDF_Path, encoding='utf-8', pages='all', stream=True)[0]
# Converting list to dataframe
df = pd.DataFrame(pdf)

In [8]:
# Rename and drop uneeded columns for individual dataframes
df.columns = ['Day_Draw','Date','Pick3','Pick4','Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH']
df.drop(['Pick4','Classic_Lotto','Rolling_Cash_5','Mega_Millions','Kicker','Powerball','Ten_OH'], axis=1, inplace=True)
# Converting the Date column into something useable
df['Date'] = pd.to_datetime(df.Date)
df.head(10)

  Day_Draw       Date  Pick3
0   FriMid 2010-01-01    391
1   FriEve 2010-01-01    808
2   SatMid 2010-01-02    989
3   SatEve 2010-01-02    137
4   SunMid 2010-01-03    284
5   SunEve 2010-01-03    290
6   MonMid 2010-01-04    942
7   MonEve 2010-01-04    809
8   TueMid 2010-01-05    278
9   TueEve 2010-01-05    755

In [9]:
# Damn, I'm getting good at this
df.head()

  Day_Draw       Date  Pick3
0   FriMid 2010-01-01    391
1   FriEve 2010-01-01    808
2   SatMid 2010-01-02    989
3   SatEve 2010-01-02    137
4   SunMid 2010-01-03    284

In [10]:
# Export our now cleaned data to csv for later processing into a larger dataset
export_csv = df.to_csv (r'../LottoData/ProcessedData/Processed_CSV/numbers2010.csv', index = None, header=True)