In [91]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 15]

In [92]:
df_train = pd.read_csv("../LottoData/ProcessedData/Final_Data/Pick3_2010-2019_Train_Data.csv",)
df_test = pd.read_csv("../LottoData/ProcessedData/Final_Data/Pick3_2020_Test_Data.csv")
train = df_train
test = df_test
train

      Draw        Date  Pick3
0        0  2019-01-01    444
1        1  2019-01-01    485
2        0  2019-01-02    103
3        1  2019-01-02    485
4        0  2019-01-03    309
...    ...         ...    ...
6604     0  2010-01-17    500
6605     1  2010-01-17     47
6606     0  2010-01-18     42
6607     1  2010-01-18    809
6608     0  2010-01-19    770

[6609 rows x 3 columns]

In [93]:
test

    Draw        Date  Pick3
0      0  2020-01-01    342
1      1  2020-01-01    933
2      0  2020-01-02    537
3      1  2020-01-02    357
4      0  2020-01-03    346
..   ...         ...    ...
79     1  2020-02-09    346
80     0  2020-02-10    893
81     1  2020-02-10    562
82     0  2020-02-11    262
83     1  2020-02-11    472

[84 rows x 3 columns]

In [94]:
df_train.describe()

              Draw        Pick3
count  6609.000000  6609.000000
mean      0.499773   493.497201
std       0.500038   286.003816
min       0.000000     0.000000
25%       0.000000   247.000000
50%       0.000000   492.000000
75%       1.000000   736.000000
max       1.000000   999.000000

In [95]:
df_test.describe()

            Draw       Pick3
count  84.000000   84.000000
mean    0.500000  487.892857
std     0.503003  301.929379
min     0.000000   19.000000
25%     0.000000  200.250000
50%     0.500000  531.500000
75%     1.000000  742.250000
max     1.000000  989.000000

In [96]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6609 entries, 0 to 6608
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    6609 non-null   int64
 1   Date    6609 non-null   object
 2   Pick3   6609 non-null   int64
dtypes: int64(2), object(1)
memory usage: 155.0+ KB

In [97]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Draw    84 non-null     int64
 1   Date    84 non-null     object
 2   Pick3   84 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.1+ KB

In [98]:
# train['Pick3'].plot(kind='hist', title='Pick3 Distribution', bins=100)
# plt.show()

In [99]:
# plt.rcParams['figure.figsize'] = [15, 15]
# train.plot.scatter(x='Pick3', y='Date');

In [100]:
# train.Pick3.hist(bins=1000);

In [101]:
# train.corr().abs()

In [102]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install sklearn

In [103]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

# columns = ['Draw', 'Date', 'Pick3']

# train = pd.DataFrame(columns=columns, 
#         data=[[0.3, 'Ideal', 422],
#         [0.31, 'Ideal', 489],
#         [0.42, 'Premium', 737],
#         [0.5, 'Ideal', 1415],
#         [0.51, 'Premium', 1177],
#         [0.7, 'Fair', 1865],
#         [0.73, 'Fair', 2351],
#         [1.01, 'Good', 3768],
#         [1.18, 'Very Good', 3965],
#         [1.18, 'Ideal', 4838]])

# test  = pd.DataFrame(columns=columns, 
#         data=[[0.3, 'Ideal', 432],
#         [0.34, 'Ideal', 687],
#         [0.37, 'Premium', 1124],
#         [0.4, 'Good', 720],
#         [0.51, 'Ideal', 1397],
#         [0.51, 'Very Good', 1284],
#         [0.59, 'Ideal', 1437],
#         [0.7, 'Ideal', 3419],
#         [0.9, 'Premium', 3484],
#         [0.9, 'Fair', 2964]])

# cut_ranks = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
# train.cut = train.cut.map(cut_ranks)
# test.cut = test.cut.map(cut_ranks)

In [111]:
# Well fuck. I can't use Date because it's still a string to this model.
features = ['Pick3'] # cannot add feature to this model
target = 'Date'

from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=int(6609))
model.fit(train[features], train[target])
print(model.predict([[2020-0o1-0o1]]))

# Stuck - need to change "Date" to integers

TypeError: unsupported operand type(s) for /: 'str' and 'int'