In [67]:
# Single Pick3
def Pick3():
    ball1 = [0,1,2,3,4,5,6,7,8,9]
    ball2 = [0,1,2,3,4,5,6,7,8,9]
    ball3 = [0,1,2,3,4,5,6,7,8,9]
    Pick3 = [random.choice(ball1),random.choice(ball2),random.choice(ball3)]
    print(Pick3)
    
Pick3()

[9, 3, 0]

In [68]:
# Pick3 List
Pick3_list = []
def Pick3List():
    for i in range(5842): # number of picks/rows for df
        ball1 = [0,1,2,3,4,5,6,7,8,9]
        ball2 = [0,1,2,3,4,5,6,7,8,9]
        ball3 = [0,1,2,3,4,5,6,7,8,9]
        Pick3 = [random.choice(ball1),random.choice(ball2),random.choice(ball3)]
        Pick3_list.append(Pick3)
Pick3List()        
# print(Pick3_list)

In [69]:
# Import pandas
import pandas as pd

In [70]:
# Create the dataframe with out column names
df = pd.DataFrame(Pick3_list, columns=['Ball1','Ball2','Ball3'])

In [71]:
# peek the info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5842 entries, 0 to 5841
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ball1   5842 non-null   int64
 1   Ball2   5842 non-null   int64
 2   Ball3   5842 non-null   int64
dtypes: int64(3)
memory usage: 137.0 KB

In [72]:
# peek the head
df.head()

   Ball1  Ball2  Ball3
0      2      6      6
1      3      4      4
2      5      0      2
3      1      9      3
4      6      0      6

In [73]:
# Create our Pick3 column from our ball columns
df['Pick3'] = df[df.columns[0:]].apply(lambda x: ''.join(x.dropna().astype(str)),axis=1)

In [74]:
df

      Ball1  Ball2  Ball3 Pick3
0         2      6      6   266
1         3      4      4   344
2         5      0      2   502
3         1      9      3   193
4         6      0      6   606
...     ...    ...    ...   ...
5837      0      7      7   077
5838      2      3      6   236
5839      3      8      8   388
5840      6      3      2   632
5841      7      8      9   789

[5842 rows x 4 columns]

In [75]:
# Export dataset as csv                                                                 # Date.csv
export_csv = df.to_csv (r'Random_Pick3_df.csv', index = None, header=True)