In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
# !{sys.executable} -m pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [15, 10]

In [2]:
# Load all csv into individual dataframes
# The goal is to cut the columns down to Day_Draw, Date, and Pick3, then combine all 9 into one df
# then combine all 9 into one df for further cleaning and ultimately a dataset to train a prediction model.
df2019 = pd.read_csv("WinningNumberArchive_2019.csv")
df2018 = pd.read_csv("WinningNumberArchive_2018.csv")
df2017 = pd.read_csv("WinningNumberArchive_2017.csv")
df2016 = pd.read_csv("WinningNumberArchive_2016.csv")
df2015 = pd.read_csv("WinningNumberArchive_2015.csv")
df2014 = pd.read_csv("WinningNumberArchive_2014.csv")
df2013 = pd.read_csv("WinningNumberArchive_2013.csv")
df2012 = pd.read_csv("WinningNumberArchive_2012.csv")
df2011 = pd.read_csv("WinningNumberArchive_2011.csv")

# Let's simplify our lives
df = pd.concat([df2019,df2018,df2017,df2016,df2015,df2014,df2013,df2012,df2011])

In [3]:
# Rename and drop uneeded columns for individual dataframes
df.columns = ['Day_Draw','Date','Pick3','Pick4','Pick5','Classic_Lotto','Kicker','Rolling_Cash_5','Mega_Millions','Powerball','Lucky_For_Life']
df.drop(['Pick4','Pick5','Classic_Lotto','Kicker','Rolling_Cash_5','Mega_Millions','Powerball','Lucky_For_Life'], axis=1, inplace=True)

In [4]:
# Checking that it worked. It did!
df.head()

    Day_Draw       Date  Pick3
0  TUE - MID   1/1/2019    444
1  TUE - EVE   1/1/2019    485
2  WED - MID   1/2/2019    103
3  WED - EVE   1/2/2019    485
4  THU - MID   1/3/2019    309

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6572 entries, 0 to 729
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day_Draw  6572 non-null   object
 1   Date      6572 non-null   object
 2   Pick3     6572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 205.4+ KB

In [6]:
# Converting the Date column into something useable
df['Date'] = pd.to_datetime(df.Date)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6572 entries, 0 to 729
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Day_Draw  6572 non-null   object
 1   Date      6572 non-null   datetime64[ns]
 2   Pick3     6572 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 205.4+ KB

In [8]:
df.head()

    Day_Draw       Date  Pick3
0  TUE - MID 2019-01-01    444
1  TUE - EVE 2019-01-01    485
2  WED - MID 2019-01-02    103
3  WED - EVE 2019-01-02    485
4  THU - MID 2019-01-03    309

In [9]:
df['Pick3'].value_counts().max()

16

In [10]:
df['Pick3'].value_counts().idxmax()

445

In [19]:
6572/445

14.768539325842697

In [18]:
export_csv = df.to_csv (r'2011-2019Pick3.csv', index = None, header=True)